@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  :root {
    --text: #000000;
    --background: #ffffff;
    --primary: #fce02c;
    --secondary: #c4c4c4;
    --accent: #fce02c;
    --underline: rgba(252, 224, 44, 0.9);
  }
  .dark {
    --text: #ffffff;
    --background: #1f1f1f;
    --primary: #d3b703;
    --secondary: #2e2e2e;
    --selected: #3a3a3a;
    --accent: #d3b703;
    --underline: rgba(211, 183, 3, 0.9);
  }
}

.underline-fancy {
  text-decoration: underline;
  text-decoration-color: var(--underline);
  text-underline-offset: 4px;
  text-decoration-thickness: 3px;
}
